1. OS-level
.DS_Store
Thumbs.db

2.Editor /IDE
.idea/
.vscode/

3. Python
#byte-code & virtual env
__pycache__/
*.py[cod]
venv/
.env
#packing
build/
dist/
*.egg-info/

4.Node/React
node_modules/
npm-debug.log*
yarn-debug.log*
dist/
coverage/
#React static buld (if created)
build/

5. Misc
#Remove OS-generated archive attr files
*.zip@
#Ignore local test data
/test-data/


#IDE junk
.vs/